	
	
#bottle {
	position:absolute;
	top: 300px;
	left: 200px;
	width: 50px;
	height: 100px;
	background: #c7b997;
background: linear-gradient(90deg, rgba(199, 185, 151, 1) 0%, rgba(0, 0, 0, 1) 24%);
	}

#bottle_bottom {
	position:absolute;
	top: 380px;
	left: 195px;
	width: 60px;
	height: 20px;
	background: #c7b997;
background: linear-gradient(90deg, rgba(199, 185, 151, 1) 0%, rgba(64, 64, 64, 1) 24%);
	}		
	
#bottle_top {
	position:absolute;
	top: 285px;
	left: 199px;
	width: 52px;
	height: 15px;
	background: #c7b997;
background: linear-gradient(90deg, rgba(199, 185, 151, 1) 0%, rgba(64, 64, 64, 1) 24%);
	}

	
#bottle_cap {
	position:absolute;
	top: 270px;
	left: 216px;
	width: 20px;
	height: 15px;
	background:black;
	}	
	
#backpack {
	position:absolute;
	top: 200px;
	left: 185px;
	width: 150px;
	height: 200px;
	background: #f2d99d;
	background: linear-gradient(90deg, rgba(242, 217, 157, 0.49) 0%, rgba(97, 85, 85, 1)7%);
	border-radius: 25px;
	}
#backpack_strap1 {
	position:absolute;
	top: 210px;
	left: 220px;
	width: 45px;
	height: 175px;
	background: #f2d99d;
background: linear-gradient(90deg, rgba(242, 217, 157, 0.49) 0%, rgba(54, 45, 45, 0.94) 2%);
	border-radius: 50px;

	rotate: -13deg;
}
#backpack_strap2 {
	position:absolute;
	top: 210px;
	left: 280px;
	width: 45px;
	height: 175px;
	background: #f2d99d;
background: linear-gradient(90deg, rgba(242, 217, 157, 0.49) 0%, rgba(54, 45, 45, 0.94) 2%);
	rotate: -13deg;
	border-radius:50px;
}

#laptop {
	position:absolute;
	width: 150px;
      height: 100px;
      transform: skew(-5deg);
     background: #d4dbff;
background: radial-gradient(circle, rgba(212, 219, 255, 1) 0%, rgba(166, 218, 255, 1) 100%);
	border: solid;
	left: 300px;
	top: 300px;	
}
#laptop_board {
	position:absolute;
	width: 150px;
      height: 15px;
      transform: skew(-50deg);
     background: grey;
	border: solid;
	left: 288px;
	top: 400px;	
}
#laptop_case {
	position:absolute;
	width: 150px;
      height: 25px;
      transform: skew(10deg);
     background: black;
	border: solid;
	left: 450px;
	top: 400px;
	border-radius:25px;	
}
#laptop_case2 {
	position:absolute;
	width: 150px;
      height: 25px;
      transform: skew(10deg);
     background: rgb(39, 37, 37);
	border: solid;
	left: 460px;
	top: 390px;
	border-radius:25px;	
}
#table {
	position:absolute;
	width:600px;
	height:200px;
	top:500px;
	left:150px;
	background: #c37822;
background: linear-gradient(0deg, rgba(195, 120, 34, 1) 0%, rgba(253, 187, 45, 1) 60%);
box-shadow: 2px 2px 4px rgba(0,0,0,0.5), inset 0 0 10px black;


}
#counter {
	position:absolute;
	width:600px;
	height:60px;
	top:380px;
	left:150px;
	background: #302a18;
background: linear-gradient(0deg, rgba(48, 42, 24, 1) 0%, rgba(99, 77, 50, 1) 60%);

}
#window {
	position:absolute;
	width:600px;
	height:400px;
	top:100px;
	left:150px;
	background: #d6f3ff;
background: radial-gradient(circle, rgba(214, 243, 255, 1) 0%, rgba(230, 208, 158, 1) 100%);
	opacity: 0.8;
box-shadow: 2px 2px 4px rgba(0,0,0,0.5), inset 0 0 10px black;

}

#table2 {
	position:absolute;
	width:600px;
	height:80px;
	top:440px;
	left:150px;
	background: #ffffff;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 244, 219, 1) 100%);
box-shadow: 2px 2px 4px rgba(0,0,0,0.5), inset 0 0 10px black;

}
#outlet {
	position:absolute;
	width:65px;
      height: 55px;
     background: rgb(87, 82, 82);
	border: solid;
	left: 650px;
	top: 450px;
	border-radius:25px;	
}
#c {
	position:absolute;
	width:25px;
      height: 15px;
     background: rgb(228, 227, 227);
	border: solid;
	left: 670px;
	top: 455px;
	border-radius:25px;	
}

	